.body{
background-color: black;

}


#i{
height: 250px;
position: absolute;
left: 10px;



}
#b{
width: 500px;
right: 40px;
position: absolute;

}
#h1{
text-align: center;
size: 5px;


}

 










